/* Media queries */

/* Page 1 */
@media only screen and (max-width: 1600px) {
  .grid-container-pg1 {
    margin-top: 1rem!important;
  }

  .first-img-pg1 {
    max-width: 140px!important;
  }

  .second-img-pg1 {
    max-width: 50rem!important;
    margin-right: 17rem!important;
  }

  .first-txt-pg1 {
    margin-left: 20rem!important;
    white-space: nowrap!important;
  }

  .second-txt-pg1 {
    font-size: 18px!important;
  }

  .bulb-text-pg1 {
    white-space: nowrap!important;
  }
}

@media only screen and (max-width: 1500px) {
  .first-img-pg1 {
    max-width: 115px!important;
  }

  .second-img-pg1 {
    max-width: 34rem!important;
    margin-right: 8rem!important;
  }

  .first-txt-pg1 {
    margin-left: 9rem!important;
    font-size: 16px!important;
  }

  .second-txt-pg1 {
    font-size: 17px!important;
  }
}

@media only screen and (max-width: 1024px) {
  .first-img-pg1 {
    max-width: 115px!important;
    background-color: red;
  }

  .second-img-pg1 {
    max-width: 30rem!important;
    margin-right: 8rem!important;
  }

  .first-txt-pg1 {
    margin-left: 9rem!important;
    font-size: 14px!important;
  }

  .second-txt-pg1 {
    font-size: 14px!important;
  }
}

@media only screen and (max-width: 920px) {
  #rotateScreen {
    display: block!important;
  }

  #displayContent {
    display: none!important;
  }
}
/* Page 1 End */

/* Page 2 */
@media only screen and (max-width: 1600px) {
  .grid-container-pg {
    margin-top: 1rem!important;
  }

  .first-img-pg2 {
    max-width: 150px!important;
    margin-left: 4rem!important;
  }

  .second-img-pg2 {
    max-width: 40rem!important;
  }

  .first-txt-pg2 {
    margin-left: 15rem!important;
    white-space: nowrap!important;
  }

  .second-txt-pg2 {
    font-size: 18px!important;
    white-space: nowrap!important;
  }

  .bulb-text-pg2 {
    white-space: nowrap!important;
  }

  .presentation-img-pg2 {
    margin-right: 9rem!important;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-container-pg {
    margin-top: 1rem!important;
  }

  .first-img-pg2 {
    max-width: 130px!important;
  }

  .second-img-pg2 {
    max-width: 40rem!important;
  }

  .first-txt-pg2 {
    margin-left: 9rem!important;
    font-size: 15px!important;
  }

  .second-txt-pg2 {
    font-size: 16px!important;
  }

  .presentation-img-pg2 {
    margin-right: 2rem!important;
  }
}

@media only screen and (max-width: 920px) {
  #rotateScreen {
    display: block!important;
  }

  #displayContent {
    display: none!important;
  }
}
/* Page 2 End */

/* Page 3 */
@media only screen and (max-width: 1600px) {
  .grid-container-pg {
    margin-top: 1rem!important;
  }

  .first-img-pg3 {
    max-width: 110px!important;
    margin-left: 4rem!important;
  }

  .second-img-pg3 {
    max-width: 30rem!important;
  }

  .first-txt-pg3 {
    margin-right: 5rem!important;
    margin-left: 15rem!important;
    white-space: nowrap!important;
  }

  .second-txt-pg3 {
    margin-right: 5rem!important;
    font-size: 16px!important;
    white-space: nowrap!important;
  }

  .bulb-text-pg3 {
    white-space: nowrap!important;
  }

  .presentation-img-pg3 {
    margin-left: 2rem!important;
  }
}

@media only screen and (max-width: 1140px) {
  .grid-container-pg {
    margin-top: 1rem!important;
  }

  .first-img-pg3 {
    max-width: 100px!important;
  }

  .second-img-pg3 {
    max-width: 30rem!important;
  }

  .first-txt-pg3 {
    margin-left: 9rem!important;
    font-size: 15px!important;
  }

  .second-txt-pg3 {
    margin-right: 8rem!important;
    font-size: 15px!important;
  }

  .presentation-img-pg3 {
    margin-right: 2rem!important;
  }
}

@media only screen and (max-width: 920px) {
  #rotateScreen {
    display: block!important;
  }

  #displayContent {
    display: none!important;
  }
}
/* Page 3 End */


.grid-container-pg {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 0px;
}

.grid-container-pg1 {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding-top: 1rem;
}

.grid-container-pg2 {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin-bottom: 4rem;
}

.grid-container-pg3 {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin-top: 4rem;
}

.grid-item-pg {
  margin: auto;
}

.grid-item-pg2 {
  margin: auto;
  margin-right: 21rem;
}

.grid-item-pg3 {
  margin-right: 0rem;
}

.first-txt-pg1 {
  margin-left: 17rem;
  font-size: 18px;
  grid-column: 1 / 2;
}

.second-txt-pg1 {
  margin-left: 0rem;
  font-size: 19px;
}

.first-img-pg1 {
  width: 12rem;
  height: 100%;
}

.first-txt-pg2 {
  margin-left: 25rem;
  font-size: 17px;
  grid-column: 1 / 3;
}

.second-txt-pg2 {
  margin-top: 1rem;
  font-size: 18px;
}

.first-img-pg2 {
  width: 5rem;
  height: 100%;
}

.first-txt-pg3 {
  margin-left: 17rem;
  font-size: 17px;
  grid-column: 1 / 2;
}

.second-txt-pg3 {
  margin-left: 0rem;
  margin-top: 1rem;
  font-size: 17px;
}

.first-img-pg3 {
  width: 9rem;
  height: 100%;
}

.second-icon-pg3 {
  margin-left: 8rem;
}
